@font-face {
  font-family: starjedi;
  src: './public/fonts/starjedi.ttf';
}

.notfound{
  color: yellow;
}

.bg-nav{
  background-image: url(https://images.unsplash.com/photo-1530508777238-14544088c3ed?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  font-family:  starjedi;
  color: yellow;
}

.title{
  font-family:  starjedi;
  color: yellow;
}

.card-text{
  font-family:  starjedi;
}

.heart:hover{
  
  color: red;
}
.heart-clicked{
  background-color: red;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.pintado{
  color: red;
  font-size: 20px;
}